.outer p{
    background-color: antiquewhite;
}
div,p{
    background-color: aqua;
}
h1+p{
    background-color: azure;
}
h1 ~ p{
    background-color: rgb(221, 221, 233);
}
div:first-child{
    color:rgb(223, 130, 7);
}
h1:hover{
    background-color: cornsilk;
}
p{
    box-shadow: 300px black;
    
}